/weights/
/datasets/
/dataset/
/result/
__pycache__/
checkpoints/
.omx/
/unitTests/

# pixi environments
.pixi/*
!.pixi/config.toml
pixi.toml
pixi.lock
pyrightconfig.json
.gitattributes

# paper
*.pdf

# pretrained models
/pretrain/
